.settings_info_block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
    & > *{
        flex: 1;

        &:not(h1,h2,h3,h4,h5,h6){
            padding-left: 3rem;
        }
    }
}