.sidebar-container {
  position: fixed;
  top: 0;
  right: 0;
  width: #{$sidebar-width};
  height: 100%;
  background-color: #333;
  color: #fff;
  padding: 20px;
  z-index: 999;
  transition: transform 0.3s ease-in-out;

  .sidebar {
    position: relative;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    &,
    & > img {
      width: 100%;
    }
    display: flex;
  }

  .links {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        color: #fff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .toggle-button {
    @include button(#fff, var(--primary-900));

    display: none;
    position: absolute;
    left: -6em;
    padding: 0.5em;
    top: 0;
    z-index: 1000;
    gap: 0.5em;
    flex-direction: column;

    span {
      display: block;
      width: 2em;
      height: 0.25em;
      background-color: #fff;
    }
  }

  &.open {
    transform: translateX(0);
  }

  @media (max-width: 768px) {
    & {
      transform: translateX(100%);
    }
    .toggle-button {
      display: flex;
    }
  }
}
