<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Settings Page</title>
  <link rel="stylesheet"
        href="css/main.css">
  <link rel="stylesheet"
        href="styles.css">
</head>

<body>
  <div class="sidebar-container">
    <div class="sidebar">
      <div class="logo">
        <img src="./imgs/another_one.svg" alt="logo" />
      </div>
      <ul class="links">
        <li><a href="./account.html">Profile</a></li>
        <li><a href="./group.html">Groups</a></li>
        <!-- <li><a href="./graph.html">Graph</a></li> -->
        <li><a href="./new-group.html">Create Group</a></li>
        <li><a href="./settings.html">Settings</a></li>
        <li><a href="./index.html">Log out</a></li>
      </ul>
      <button class="toggle-button">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
  <div class="container">
    <header>
      <h1>Settings Page</h1>
    </header>
    <main>
      <section class="settings grid grid-col-template-2 gap-2">
        <h2>Currency</h2>
        <input type="text"
               name="currency"
               value="USD">
        <h2>Language</h2>
        <select name="language">
          <option value="en">English</option>
          <option value="fr">Français</option>
          <option value="es">Español</option>
        </select>
      </section>
      <section class="coming-soon">
        <p class="footer__paragraph">More settings coming soon...</p>
      </section>
    </main>
    <footer class="footer">
      <p class="footer__paragraph">&copy; 2023 Budget Management App. All rights reserved.</p>
    </footer>
  </div>
  <script src="./js/main.js"></script>
</body>

</html>