// Main Style File
@charset "UTF-8";

@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-dark: (
  900: #00202e,
  800: #003f5c,
  700: #003f5c,
  600: #8a508f,
  500: #bc5090,
  400: #ff6361,
  300: #ff8531,
  200: #ffd380,
  100: #edf4f4,
);

// $primary-white: (
//   900: #edf4f3,
//   600: #E0C6AC,
//   400: #ec4230,
//   200: #31A1AC,
//   100: #232c47,
// );

$primary: $primary-dark;

:root {
  @each $name, $color in $primary {
    $keyname: '--primary-' + $name;
    #{$keyname}: #{$color};
    #{'primary-' + $name}: #{$color};
  }
}

// Import All SCSS Files

:root {
  color: var(--primary-600);
}

@import 'reset';
@import 'variables';
@import 'global';

@import 'footer';
@import 'header';
@import 'navbar';
@import 'forms';
@import 'account';

@import 'home';
@import 'graph';
@import 'group';
